<% if user_signed_in? && current_user.admin == true %>
<h1>New Book</h1>

<%= render 'form', book: @book %>

<%= link_to 'Back', books_path %>
<% else %>
<script type="text/javascript">
   window.location.href="/books"  // put your correct path in a string here
 </script>
 <% end %>
